.accordion {
  font-size: clamp(1rem, calc(1.2vw + 0.1rem), 1.4rem);
  line-height: 1.5;
  display: block;
  color: var(--very-dark-grayish-blue);
  display: block;
  border-bottom: 0.1rem solid var(--light-grayish-blue);
  padding: 1rem 0;

  &:has(.accordion__body_is-open) .accordion__head::after {
    transform: rotate(180deg);
  }

  &:has(.accordion__body_is-open) .accordion__head {
    font-weight: 700;
  }

  &:has(.accordion__body_is-closed) .accordion__head::after {
    transform: rotate(0);
  }

  &:has(.accordion__body_is-closed) .accordion__head {
    font-weight: 500;
  }
}

.accordion__head {
  font-size: clamp(1.2rem, calc(1.4vw + 0.1rem), 1.6rem);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  margin: 0.5rem 0;

  &:hover {
    cursor: pointer;
    color: var(--soft-red);
  }

  &::after {
    content: url('../images/icon-arrow-down.svg');
    transition: all 0.3s;
  }
}

.accordion__body {
  display: block;
}

.accordion__body_is-open {
  display: block;
}

.accordion__body_is-closed {
  display: none;
}
